.grid-background {
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
    radial-gradient(
      circle 600px at 0% 200px,
      rgba(32, 148, 197, 0.302),
      transparent
    ),
    radial-gradient(
      circle 600px at 100% 200px,
      rgba(32, 147, 196, 0.3),
      transparent
    );

  background-size: 20px 20px, 20px 20px, 100% 100%, 100% 100%;

  position: absolute;
  inset: 0;
  z-index: 0;
}

.dark .grid-background {
  background-image: linear-gradient(
      to right,
      rgba(55, 65, 81, 0.5) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(55, 65, 81, 0.5) 1px, transparent 1px),
    radial-gradient(
      circle 600px at 0% 200px,
      rgba(51, 29, 131, 0.4),
      transparent
    ),
    radial-gradient(
      circle 600px at 100% 200px,
      rgba(32, 147, 196, 0.3),
      transparent
    );
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
