.grid-background {
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
    radial-gradient(circle 600px at 0% 200px, #d5c5ff, transparent),
    radial-gradient(circle 600px at 100% 200px, #d5c5ff, transparent);

  background-size: 20px 20px, 20px 20px, 100% 100%, 100% 100%;

  position: absolute;
  inset: 0;
  z-index: 0;
}
