name: Deploy to Deno Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v3
        with:
          doppler-token: ${{ secrets.DOPPLER_TOKEN }}

      - name: Setup Deno node_modules for app dependencies
        run: doppler run -- deno cache --reload --node-modules-dir=auto src/main.tsx vite.config.ts

      - name: Install Vite and plugins with npm
        run: npm install

      - name: Build with Vite
        run: doppler run -- npm run build

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: tu-proyecto-en-deno-deploy
          entrypoint: dist/index.html
        env:
          DENO_DEPLOY_TOKEN: ${{ secrets.DENO_DEPLOY_TOKEN }}